<h1> Articles listing view</h1>

<table>
    <theadf>
        <tr>
          <th>Title</th>
          <th>Description</>
          <th>Actions</>
        </tr>
    </thead>

<tbody>
    <% @articles.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>Placeholder</td>
    <% end %>
</table>
